@{
    Layout = null;
    string controlador = ViewContext.RouteData.Values["Controller"].ToString().ToLower();



    Model.Usuario usuario = new Model.BussinesLogic.LogicaUsuario().Obtener(Helper.SessionHelper.GetUser());
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title  | Missing</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
</head>
<body>
    @if (controlador != "login")
    {
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Prueba Missing Numbers</a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                @if (usuario != null)
                {
                    <a class="navbar-brand" href="#">Hola , @(usuario.NombreUsuario)</a>
                    <a class="navbar-brand" href="~/Login/Logout">Salir</a>
                }
            </div>
        </nav>
    }
    <div class="container">
        <div class="row">
            <div class="col-sm">
                @RenderBody()
            </div>
        </div>
        <div class="well text-center">
            2019 - Proyecto desarrollado por CarlosRY.
        </div>
    </div>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/js/ini.js"></script>
    <script src="~/assets/js/jquery.form.js"></script>
</body>
</html>
